##Подключение библиотек и чтение файлов

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
api = pd.read_excel('final_api_file.xlsx')

In [ ]:
pars = pd.read_csv('parsed_alllinks.csv')

In [ ]:
pars_address = pd.read_csv('parsed_data95.csv')

##Файл pars_address

In [ ]:
pars_address.head(1)

,address,coordinates,url
0,"Москва,ЦАО,р-н Арбат,Малый Николопесковский пе...","55.750494, 37.592761",https://www.cian.ru/sale/flat/322345293/

In [ ]:
pars_address['address'] = pars_address['address'].str.replace(r'на\s*карте', '', flags=re.IGNORECASE, regex=True)
pars_address['address'] = pars_address['address'].str.strip()

In [ ]:
pars_address['address'] = pars_address['address'].str.replace(r'(^|\s*,\s*)(москва|мск|м)(\s*,\s*|$)', '', flags=re.IGNORECASE, regex=True)
pars_address['address'] = pars_address['address'].str.replace(r'\s*,\s*', ',', regex=True)
pars_address['address'] = pars_address['address'].str.strip(', ')

In [ ]:
pars_address[['Address', 'House number']] = pars_address['address'].str.rsplit(',', n=1, expand=True)
pars_address['Address'] = pars_address['Address'].str.strip()
pars_address['House number'] = pars_address['House number'].str.strip()
pars_adress = pars_address.drop(columns=['address'])

In [ ]:
pars_address['Address'] = pars_address['Address'].str.rsplit(',', n=1).str[-1].str.strip()

In [ ]:
pars_address['House number'] = pars_address['House number'].str.replace(r'\s+', '', regex=True)
pars_address['House number'] = pars_address['House number'].str.lower()
pars_address['House number'] = pars_address['House number'].replace({
    r'\bд\.?\b': 'д',
    r'\bдом\b': 'д',
    r'\bстр\.?\b': 'с',
    r'\bстроен(ие|.)?\b': 'с',
    r'\bк\.?\b': 'к',
    r'\bк-п\.?\b': 'к',
    r'\bкорпус\.?\b': 'к',
    r'\bкор\.?\b': 'к',
    r'\bномер\.?\b': '№',
    r'\bнор\.?\b': '№',
    r'\bn\.?\b': '№',
    r'\bN\.?\b': '№',
    r'\bnum\.?\b': '№',
    r'\bном\.?\b': '№',
    r'\b№\.?\b': '№'

}, regex=True)

pars_address['House number'] = pars_address['House number'].str.replace(r'\bд\b', '', regex=True)
pars_address['House number'] = pars_address['House number'].str.replace(r'\b№\b', '', regex=True)
pars_address['House number'] = pars_address['House number'].str.replace(r'[,]+', '', regex=True)
pars_address['House number'] = pars_address['House number'].str.strip()

In [ ]:
replacements_1 = {
    r'\bул\.?\b': 'Улица',
    r'\bпр-т\b': 'Проспект',
    r'\bпросп\.?\b': 'Проспект',
    r'\bпр\.?\b': 'Проспект',
    r'\bпер\.?\b': 'Переулок',
    r'\bб-р\b': 'Бульвар',
    r'\bбул\.?\b': 'Бульвар',
    r'\bпл\.?\b': 'Площадь',
    r'\bпр-д\b': 'Проезд',
    r'\bпр-зд\b': 'Проезд',
    r'\bш\.?\b': 'Шоссе',
    r'\bнаб\.?\b': 'Набережная',
    r'\bтуп\.?\b': 'Тупик',
    r'\бал\.?\b': 'Аллея',
    r'\bмкр\.?\b': 'Микрорайон',
    r'\bмкрн\.?\b': 'Микрорайон',
    r'\bкв-л\b': 'Квартал',
    r'\bкварт\.?\b': 'Квартал',
    r'\bкв\.?\b': 'Квартал',
    r'\bлин\.?\b': 'Линия',
    r'\bплфт\.?\b': 'Платформа',
    r'\bрп\.?\b': 'Рабочий поселок',
    r'\bр-п\.?\b': 'Рабочий поселок',
    r'\bрн\.?\b': 'Район',
    r'\bр-н\.?\b': 'Район',
    r'\bбдор\.?\b': 'Дорога',
    r'\bао\.?\b': 'Административный округ',
    r'\bа.о\.?\b': 'Административный округ',
    r'\bадминистративный округ\.?\b': 'Административный округ',
    r'\bд\.?\b': 'Деревня',
    r'\bс\.?\b': 'Село',
    r'\bп\.?\b': 'Поселок',
    r'\bпос\.?\b': 'Поселок',
    r'\bпс\.?\b': 'Поселок',
    r'\bжк\.?\b': 'Жилой комплекс',
    r'\bжилищный комплекс\.?\b': 'Жилой комплекс',
    r'\bж-к\.?\b': 'Жилой комплекс',
    r'\bномер\.?\b': '№',
    r'\bнор\.?\b': '№',
    r'\bn\.?\b': '№',
    r'\bN\.?\b': '№',
    r'\bnum\.?\b': '№',
    r'\bном\.?\b': '№',
    r'\b№\.?\b': '№'
}
pars_address['Address'] = pars_address['Address'].astype(str)
for pattern, full in replacements_1.items():
    pars_address['Address'] = pars_address['Address'].apply(lambda x: re.sub(pattern, full, x, flags=re.IGNORECASE))

In [ ]:
words_to_remove_1 = [
    "Улица", "Проспект", "Переулок", "Бульвар", "Площадь", "Проезд", "Шоссе", "Набережная", "Тупик", "Аллея", "Микрорайон", "Квартал", "Линия", "Платформа", "Дорога",
    'Рабочий поселок', 'Район', 'Деревня', 'Административный округ', 'Село', 'Поселок', "Жилой комплекс", "№"]

pattern_words_1 = r'\b(?:' + '|'.join(words_to_remove_1) + r')\b'

pars_address['Address'] = (pars_address['Address'].astype(str).apply(lambda x: re.sub(pattern_words_1, '', x, flags=re.IGNORECASE)).str.replace(r'[.,-]', '', regex=True).str.replace(r'\s+', ' ', regex=True).str.strip())

In [ ]:
pars_address[['LAT', 'LNG']] = pars_address['coordinates'].str.split(',', n=1, expand=True)

pars_address['LAT'] = pars_address['LAT'].str.strip()
pars_address['LNG'] = pars_address['LNG'].str.strip()

pars_address['LAT'] = pd.to_numeric(pars_address['LAT'], errors='coerce')
pars_address['LNG'] = pd.to_numeric(pars_address['LNG'], errors='coerce')

In [ ]:
pars_address = pars_address.rename(columns={'Address': 'Adress', 'url': 'URL'})

pars_address = pars_address.drop(columns=['coordinates', 'address'], errors='ignore')

new_order = ['Adress', 'House number', 'URL', 'LAT', 'LNG']
pars_address = pars_address[new_order]

In [ ]:
pars_address['Adress'] = pars_address['Adress'].astype(str)
pars_address['House number'] = pars_address['House number'].astype(str)

mask_address_1 = pars_address['Adress'].str.fullmatch(r'\d+')
mask_house_letters_1 = pars_address['House number'].str.fullmatch(r'[а-яА-Яa-zA-Z]+')
mask_house_too_many_letters_1 = pars_address['House number'].apply(lambda x: len(re.findall(r'[а-яА-Яa-zA-Z]', str(x))) > 5)
mask_not_nan = pars_address['House number'].notna() & (pars_address['House number'].str.lower() != 'nan')
mask_house_invalid = (mask_house_letters_1 | mask_house_too_many_letters_1) & mask_not_nan

pars_address.loc[mask_address_1, 'Adress'] = 'Адрес заполнен неверно'
pars_address.loc[mask_house_invalid, 'House number'] = 'Номер дома заполнен неверно'

In [ ]:
pars_address['Adress'] = pars_address['Adress'].str.lower()

In [ ]:
pars_address

,Adress,House number,URL,LAT,LNG
0,малый николопесковский,4,https://www.cian.ru/sale/flat/322345293/,55.750494,37.592761
1,ташкентская,4к1,https://www.cian.ru/sale/flat/322596373/,55.709865,37.817807
2,чапаевский,3,https://www.cian.ru/sale/flat/303470941/,55.798480,37.520671
3,волоколамское,95/2к5,https://www.cian.ru/sale/flat/322722613/,55.830488,37.402282
4,агрохимическая,3,https://www.cian.ru/sale/flat/320068864/,55.592581,37.206890
...,...,...,...,...,...
10791,новый арбат,29,https://www.cian.ru/sale/flat/302230306/,55.751457,37.577355
10792,nan,nan,https://www.cian.ru/sale/flat/307387280/,NaN,NaN
10793,nan,nan,https://www.cian.ru/sale/flat/322234429/,NaN,NaN
10794,nan,nan,https://www.cian.ru/sale/flat/285546652/,NaN,NaN
10795,nan,nan,https://www.cian.ru/sale/flat/308350594/,NaN,NaN

##Файл api

In [ ]:
api

,Unnamed: 0,title,address,floor,floors,sq,sqLand,sqLiving,sqKitchen,cost,...,updated,region,city,type,section,category,metro,material,isNew,rooms
0,0,"2-к. квартира, 53,8 м², 6/12 эт.","Москва, Салтыковская ул., 6/2к4",6,12,53.8,0,22.3,19.0,12980000,...,2024-11-05T00:00:03+03:00,Москва,Москва,Продам,Жилая недвижимость,2-к квартира,Улица Дмитриевского,монолитный,False,2
1,1,NaN,"Россия, Москва, улица Демьяна Бедного, 2 к4",10,17,38.0,0,NaN,NaN,15350000,...,2024-11-05T00:03:04+03:00,Москва,Москва,Продам,Жилая недвижимость,1-к квартира,Народное Ополчение,Панельный,False,1
2,2,"3-к кв. Москва Профсоюзная ул., 91 (100.5 м²)","Профсоюзная ул., 91",14,23,100.5,0,58.4,12.5,40500000,...,2024-11-05T00:04:03+03:00,Москва,Москва,Продам,Жилая недвижимость,3-к квартира,Беляево,Монолитный,False,3
3,3,Свободной планировки кв. Москва Сколковское ш....,"Сколковское ш., 40к3",2,15,31.0,0,18.0,10.0,12999000,...,2024-11-05T00:04:03+03:00,Москва,Москва,Продам,Жилая недвижимость,Студия,Кунцевская,Монолитный,False,0
4,4,"2-к кв. Москва Кронштадтский бул., 6к3 (43.0 м²)","Кронштадтский бул., 6к3",5,22,43.0,0,30.0,12.0,17400000,...,2024-11-05T00:04:03+03:00,Москва,Москва,Продам,Жилая недвижимость,2-к квартира,Водный стадион,Монолитно-кирпичный,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83296,83296,"2-к кв. Москва Вокзальный пер., 8К1 (37.8 м²)","Вокзальный пер., 8К1",2,14,37.8,0,23.0,6.2,14250000,...,2025-11-05T22:14:09+03:00,Москва,Москва,Продам,Жилая недвижимость,2-к квартира,Войковская,Блочный,False,2
83297,83297,NaN,"Москва, Автозаводская улица, 19К1",4,5,12.0,0,10.0,0.5,4650000,...,2025-11-05T22:22:02+03:00,Москва,Москва,Продам,Жилая недвижимость,Комната,Автозаводская,кирпичный,False,1
83298,83298,NaN,"Москва, Пулковская улица, 2",12,26,62.8,0,28.0,21.5,34500000,...,2025-11-05T22:23:03+03:00,Москва,Москва,Продам,Жилая недвижимость,2-к квартира,Водный стадион,монолитный,False,2
83299,83299,"1-комнатная квартира: Москва, улица Плеханова,...","улица Плеханова, 32/7",12,13,35.0,0,13.3,10.0,12300000,...,2025-11-05T22:33:02+03:00,Москва,Москва,Продам,Жилая недвижимость,1-к квартира,Перово,NaN,False,1
83300,83300,"1-к. квартира, 39, 9 м², 9/12 эт.","Москва, Амурская ул., 1/2/1",9,12,39.9,0,20.9,11.2,17000000,...,2025-11-05T22:36:02+03:00,Москва,Москва,Продам,Жилая недвижимость,1-к квартира,Локомотив,монолитный,False,1

In [ ]:
api["clean_address"] = (
    api["address"]
    .astype(str)
    .str.replace(r"(?i)россия,?\s*", "", regex=True)
    .str.replace(r"(?i)москва,?\s*", "", regex=True)
    .str.replace(r"(?i)мск,?\s*", "", regex=True)
    .str.replace(r"(?i)рф,?\s*", "", regex=True)
    .str.strip(", ")
)

api["street"] = api["clean_address"].apply(lambda x: ",".join(x.split(",")[:-1]).strip() if "," in x else x)
api["house_number"] = api["clean_address"].apply(lambda x: x.split(",")[-1].strip() if re.search(r'\d', x.split(",")[-1]) else "")

api.loc[~api["house_number"].str.contains(r"\d"), "house_number"] = ""
api.loc[api["house_number"] == "", "street"] = api["clean_address"]

In [ ]:
api['address'] = api['address'].astype(str)

corpus_patterns = [
    r',\s*к\b',
    r',\s*корп\.?\b',
    r',\s*кор\.?\b',
    r',\s*кп\.?\b'
]

ctr_patterns = [
    r',\s*с\b',
    r',\s*стр\.?\b',
    r',\s*ст\.?\b',
    r',\s*строение\.?\b'

]

def clean_address(x):
    x = x.lower().strip()

    for pattern in corpus_patterns:
        x = re.sub(pattern, ' к', x)

    for pattern in ctr_patterns:
        x = re.sub(pattern, ' с', x)

    x = re.sub(r'\s{2,}', ' ', x)
    return x.strip()

api["address"] = api["address"].apply(clean_address)

In [ ]:
api.drop(['address','name', 'isNew','clean_address', 'updated', 'city'], axis=1, inplace=True)

In [ ]:
pars.columns

Index(['price', 'metro_stations_list', 'metro_station', 'walk_time', 'rooms',
       'floor', 'floors_total', 'square_total', 'square_kitchen',
       'ceiling_height', 'wall_material', 'renovation', 'year_built',
       'owners_count', 'infrastructure', 'yard_improvement',
       'publication_date', 'edit_date', 'ad_id', 'url', 'square_living'],
      dtype='object')

In [ ]:
pars.drop(['metro_stations_list', 'owners_count', 'edit_date', 'ad_id'], axis=1, inplace=True)

In [ ]:
pars.columns

Index(['price', 'metro_station', 'walk_time', 'rooms', 'floor', 'floors_total',
       'square_total', 'square_kitchen', 'ceiling_height', 'wall_material',
       'renovation', 'year_built', 'infrastructure', 'yard_improvement',
       'publication_date', 'url', 'square_living'],
      dtype='object')

In [ ]:
new_name_1 = {
    "title": "Title",
    "floor": "Floor",
    "floors": "Building Floors",
    "sq": "Square (m2)",
    "sqLand": "Land Square (m2)",
    "sqLiving": "Living Square (m2)",
    "sqKitchen": "Kitchen Square (m2)",
    "cost": "Price (rub)",
    "lat": "LAT",
    "lng": "LNG",
    "url": "URL",
    "agent": "Agent",
    "source": "Source",
    "created": "Created Date",
    "region": "Region",
    "city": "City",
    "type": "Type",
    "section": "Section",
    "category": "Category",
    "metro": "Metro",
    "material": "Building Material",
    "rooms": "Number of Rooms",
    "street": "Adress",
    "house_number": "House number"
}

api.rename(columns=new_name_1, inplace=True)

In [ ]:
new_name_2 = {
    "price": "Price (rub)",
    "metro_station": "Metro",
    "walk_time": "Walk Time to Metro (min)",
    "rooms": "Number of Rooms",
    "floor": "Floor",
    "floors_total": "Building Floors",
    "square_total": "Square (m2)",
    "square_kitchen": "Kitchen Square (m2)",
    "ceiling_height": "Ceiling Height (m)",
    "wall_material": "Building Material",
    "renovation": "Renovation",
    "year_built": "Year Built",
    "infrastructure": "Infrastructure",
    "yard_improvement": "Yard Improvement",
    "publication_date": "Created Date",
    "url": "URL",
    "square_living": "Living Square (m2)"
}

pars.rename(columns=new_name_2, inplace=True)

In [ ]:
priority_columns_1 = [
    "Region",
    "Metro",
    "Adress",
    "House number",
    "Number of Rooms",
    "Square (m2)",
    "Living Square (m2)",
    "Kitchen Square (m2)",
    "Floor",
    "Building Floors",
    "Building Material",
    "Created Date",
    "URL"
]

all_cols = api.columns.tolist()

remaining_cols = [col for col in all_cols if col not in priority_columns_1 and col != "Price (rub)"]

pars_cols = list(pars.columns)
for col in pars_cols:
    if col not in priority_columns_1 and col not in remaining_cols and col != "Price (rub)":
        remaining_cols.append(col)

new_order = priority_columns_1 + remaining_cols + ["Price (rub)"]

api = api.reindex(columns=new_order)

In [ ]:
api.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
priority_columns_2 = [
    "Region",
    "Metro",
    "Adress",
    "House number",
    "Number of Rooms",
    "Square (m2)",
    "Living Square (m2)",
    "Kitchen Square (m2)",
    "Floor",
    "Building Floors",
    "Building Material",
    "Created Date",
    "URL"
]

block1 = ['Title', 'Land Square (m2)', 'LAT', 'LNG', 'Agent', 'Source', 'Type', 'Section', 'Category']

block2 = ['Walk Time to Metro (min)', 'Ceiling Height (m)', 'Renovation', 'Year Built', 'Infrastructure', 'Yard Improvement']

last_col = ['Price (rub)']

for col in priority_columns_2 + block1 + block2 + last_col:
    if col not in pars.columns:
        pars[col] = None

new_order = priority_columns_2 + block1 + block2 + last_col

pars = pars[new_order]

In [ ]:
pattern_oblast_2 = r'\b(обл\.?|область|об\.?|об)\b'

api = api[api['Adress'].str.contains(pattern_oblast_2, flags=re.IGNORECASE, regex=True) == False].reset_index(drop=True)

/tmp/ipython-input-824055124.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  api = api[api['Adress'].str.contains(pattern_oblast, flags=re.IGNORECASE, regex=True) == False].reset_index(drop=True)

In [ ]:
api['Adress'] = api['Adress'].apply(lambda x: x.split(',')[-1].strip() if ',' in str(x) else x)

In [ ]:
api['Adress'].sample(10)

30623    3-я Нововатутинская улица
62418               Ленинский пр-т
59651     ул. Александры Монаховой
15620        ул. Академика Павлова
34289          проезд Стратонавтов
46866               Тайнинская ул.
1612                 Севанская ул.
39849               Клинская улица
34119             Вешняковская ул.
11792          Гоголевский бульвар
Name: Adress, dtype: object

In [ ]:
api['House number'] = api['House number'].astype(str)

corpus_replacements = [r'корпус', r'корп\.?', r'кор\.?', r'кп\.?', r'к\.?']

building_replacements = [r'строение', r'стр\.?', r'ст\.?', r'с\.?']

house_prefixes = [r'д\.?', r'дом', r'номер', r'№']

def clean_house_number(x):
    x = str(x).lower().strip()
    x = re.sub(r'\s+', '', x)

    for pattern in house_prefixes:
        x = re.sub(pattern, '', x)

    for pattern in corpus_replacements:
        x = re.sub(pattern, 'к', x)

    for pattern in building_replacements:
        x = re.sub(pattern, 'с', x)

    x = re.sub(r'(?<=[a-zа-яё])\.', '', x, flags=re.IGNORECASE)

    x = re.sub(r'к+', 'к', x)
    x = re.sub(r'с+', 'с', x)

    x = re.sub(r'[^0-9а-яa-zкс]', '', x)

    return x

api['House number'] = api['House number'].apply(clean_house_number)

0       62к4
1        2к4
2         91
3       40к3
4        6к3
5        20а
6       1315
7       18к2
8       71к2
9        2к1
10        12
11         2
12      38к2
13      39к1
14      11к2
15       17б
16        15
17       7к1
18      10к2
19    170ек1
20      46к3
21        26
22
23         5
24        33
25      5ак1
26       7к2
27         2
28       8к1
29      48к2
30        40
31      86ка
32       2к2
33     14ак6
34     141к6
35        35
36        25
37      32к1
38      36к3
39      11к1
40      16к5
41      18к2
42         5
43      28к7
44      28к7
45      96к1
46      40к1
47        46
48       2к2
49      14к4
Name: House number, dtype: object

In [ ]:
api['Adress'] = api['Adress'].astype(str)
api['House number'] = api['House number'].astype(str)

mask_address = api['Adress'].str.fullmatch(r'\d+')
mask_house_letters = api['House number'].str.fullmatch(r'[а-яА-Яa-zA-Z]+')
mask_house_too_many_letters = api['House number'].apply(lambda x: len(re.findall(r'[а-яА-Яa-zA-Z]', x)) > 5)
mask_house_invalid = mask_house_letters | mask_house_too_many_letters

api.loc[mask_address, 'Adress'] = 'Адрес заполнен неверно'
api.loc[mask_house_invalid, 'House number'] = 'Номер дома заполнен неверно'
api['Adress'] = api['Adress'].str.lower()

##Файл Pars

In [ ]:
replacements = {
    r'\bул\.?\b': 'Улица',
    r'\bпр-т\b': 'Проспект',
    r'\bпросп\.?\b': 'Проспект',
    r'\bпр\.?\b': 'Проспект',
    r'\bпер\.?\b': 'Переулок',
    r'\bб-р\b': 'Бульвар',
    r'\bбул\.?\b': 'Бульвар',
    r'\bпл\.?\b': 'Площадь',
    r'\bпр-д\b': 'Проезд',
    r'\bпр-зд\b': 'Проезд',
    r'\bш\.?\b': 'Шоссе',
    r'\bнаб\.?\b': 'Набережная',
    r'\bтуп\.?\b': 'Тупик',
    r'\бал\.?\b': 'Аллея',
    r'\bмкр\.?\b': 'Микрорайон',
    r'\bмкрн\.?\b': 'Микрорайон',
    r'\bкв-л\b': 'Квартал',
    r'\bкварт\.?\b': 'Квартал',
    r'\bкв\.?\b': 'Квартал',
    r'\bлин\.?\b': 'Линия',
    r'\bплфт\.?\b': 'Платформа',
    r'\bрп\.?\b': 'Рабочий поселок',
    r'\bр-п\.?\b': 'Рабочий поселок',
    r'\bрн\.?\b': 'Район',
    r'\bр-н\.?\b': 'Район',
    r'\bбдор\.?\b': 'Дорога',
    r'\bао\.?\b': 'Административный округ',
    r'\bа.о\.?\b': 'Административный округ',
    r'\bадминистративный округ\.?\b': 'Административный округ',
    r'\bд\.?\b': 'Деревня',
    r'\bс\.?\b': 'Село',
    r'\bп\.?\b': 'Поселок',
    r'\bпос\.?\b': 'Поселок',
    r'\bпс\.?\b': 'Поселок',
    r'\bжк\.?\b': 'Жилой комплекс',
    r'\bжилищный комплекс\.?\b': 'Жилой комплекс',
    r'\bж-к\.?\b': 'Жилой комплекс',
    r'\bкомплекс\.?\b': 'Жилой комплекс',
    r'\bжилой\.?\b': 'Жилой комплекс'

}

api['Adress'] = api['Adress'].astype(str)

for pattern, full in replacements.items():
    api['Adress'] = api['Adress'].apply(lambda x: re.sub(pattern, full, x, flags=re.IGNORECASE))

In [ ]:
words_to_remove = [
    "Улица", "Проспект", "Переулок", "Бульвар", "Площадь", "Проезд", "Шоссе", "Набережная", "Тупик", "Аллея", "Микрорайон", "Квартал", "Линия", "Платформа", "Дорога",
    'Рабочий поселок', 'Район', 'Деревня', 'Административный округ', 'Село', 'Поселок', "Жилой комплекс"]

pattern_words = r'\b(?:' + '|'.join(words_to_remove) + r')\b'

api['Adress'] = (
    api['Adress'].astype(str)
    .apply(lambda x: re.sub(pattern_words, '', x, flags=re.IGNORECASE))
    .str.replace(r'[.,-]', '', regex=True)
    .str.replace(r'\s+', ' ', regex=True)
    .str.strip()
)

In [ ]:
api['House number'].sample(20)

52226    2ак3а
10521    822к1
36329       к3
40141        3
78598      3к3
36430     71к2
70950      581
81157        5
56707      5к4
27231        6
70806        4
47521       15
4972        17
19558     6ак1
72596      5к3
44740      22а
47499     46к1
78079     1вк1
26969      59б
8923      49к2
Name: House number, dtype: object

In [ ]:
api.iloc[379]

Region                                                                 Москва
Metro                                                                Аэропорт
Adress                                                        Степана Супруна
House number                                                                3
Number of Rooms                                                             2
Square (m2)                                                              59.0
Living Square (m2)                                                       33.0
Kitchen Square (m2)                                                      10.0
Floor                                                                       2
Building Floors                                                            12
Building Material                                                   кирпичный
Created Date                                        2024-08-22T16:33:02+03:00
URL                         https://www.avito.ru/moskva/kvartiry/2-k._kvar...
Title                                          2-к. квартира, 59 м², 2/12 эт.
Land Square (m2)                                                            0
LAT                                                                 55.797862
LNG                                                                 37.543102
Agent                                                                       0
Source                                                               avito.ru
Type                                                                   Продам
Section                                                    Жилая недвижимость
Category                                                         2-к квартира
Walk Time to Metro (min)                                                  NaN
Ceiling Height (m)                                                        NaN
Renovation                                                                NaN
Year Built                                                                NaN
Infrastructure                                                            NaN
Yard Improvement                                                          NaN
Price (rub)                                                          21500000
Name: 379, dtype: object

In [ ]:
api['Adress'].sample(20)

55957           Анны Ахматовой
18028        Интернациональная
79657           Новослободская
70806         Производственная
72358           4я Гражданская
21263                 Сосновая
16177    Большая Академическая
28317               Молостовых
77963        Академика Анохина
76543          Самуила Маршака
14640               Весковский
34386               Ильменский
43763           Анны Ахматовой
43766                Столетова
22480         Василисы Кожиной
47666             Чертановская
41371               Волоколаое
30064                  Куприна
31849                 Вавилова
74961               Коминтерна
Name: Adress, dtype: object

##Файл DF

In [ ]:
api

,Region,Metro,Adress,House number,Number of Rooms,Square (m2),Living Square (m2),Kitchen Square (m2),Floor,Building Floors,...,Type,Section,Category,Walk Time to Metro (min),Ceiling Height (m),Renovation,Year Built,Infrastructure,Yard Improvement,Price (rub)
0,Москва,Улица Дмитриевского,салтыковская,62к4,2,53.8,22.3,19.0,6,12,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,12980000
1,Москва,Народное Ополчение,демьяна бедного,2к4,1,38.0,NaN,NaN,10,17,...,Продам,Жилая недвижимость,1-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,15350000
2,Москва,Беляево,профсоюзная,91,3,100.5,58.4,12.5,14,23,...,Продам,Жилая недвижимость,3-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,40500000
3,Москва,Кунцевская,сколковское,40к3,0,31.0,18.0,10.0,2,15,...,Продам,Жилая недвижимость,Студия,NaN,NaN,NaN,NaN,NaN,NaN,12999000
4,Москва,Водный стадион,кронштадтский,6к3,2,43.0,30.0,12.0,5,22,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,17400000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82179,Москва,Войковская,вокзальный,8к1,2,37.8,23.0,6.2,2,14,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,14250000
82180,Москва,Автозаводская,автозаводская,19к1,1,12.0,10.0,0.5,4,5,...,Продам,Жилая недвижимость,Комната,NaN,NaN,NaN,NaN,NaN,NaN,4650000
82181,Москва,Водный стадион,пулковская,2,2,62.8,28.0,21.5,12,26,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,34500000
82182,Москва,Перово,плеханова,327,1,35.0,13.3,10.0,12,13,...,Продам,Жилая недвижимость,1-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,12300000
82183,Москва,Локомотив,амурская,121,1,39.9,20.9,11.2,9,12,...,Продам,Жилая недвижимость,1-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,17000000

In [ ]:
pars

,Region,Metro,Adress,House number,Number of Rooms,Square (m2),Living Square (m2),Kitchen Square (m2),Floor,Building Floors,...,Type,Section,Category,Walk Time to Metro (min),Ceiling Height (m),Renovation,Year Built,Infrastructure,Yard Improvement,Price (rub)
0,None,Смоленская,None,None,4.0,150.00,NaN,60.0,4.0,7.0,...,None,None,None,9 мин,3.0,Есть ремонт,NaN,"Школы, Магазины",Парковка,230000000.0
1,None,Юго-Восточная,None,None,2.0,40.09,23.9,5.9,11.0,14.0,...,None,None,None,6 мин,2.5,NaN,NaN,Школы,Парковка,11400000.0
2,None,Аэропорт,None,None,3.0,160.00,80.0,20.0,6.0,57.0,...,None,None,None,10 мин,3.2,NaN,NaN,"Школы, Магазины","Парковка, Видеонаблюдение",161772200.0
3,None,Трикотажная,None,None,2.0,40.00,NaN,10.0,19.0,25.0,...,None,None,None,5 мин,3.0,Есть ремонт,NaN,NaN,Парковка,25000000.0
4,None,Толстопальцево,None,None,NaN,26.17,16.2,5.0,5.0,19.0,...,None,None,None,4 мин,NaN,NaN,2017.0,NaN,Парковка,7800000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10066,None,Смоленская,None,None,4.0,200.00,131.0,60.0,10.0,19.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,NaN,242658300.0
10067,None,Парк Культуры,None,None,4.0,170.00,110.0,20.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Магазины,"Парковка, Видеонаблюдение",242658300.0
10068,None,Парк Культуры,None,None,4.0,167.00,110.0,25.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Школы,Парковка,242658300.0
10069,None,Смоленская,None,None,4.0,203.00,162.0,NaN,10.0,17.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,"Парковка, Видеонаблюдение",242658300.0
10070,None,Новаторская,None,None,NaN,412.00,250.0,25.0,23.0,23.0,...,None,None,None,8 мин,3.2,NaN,NaN,Школы,Парковка,242658300.0

In [ ]:
# Объединяем api и pars друг над другом
df = pd.concat([api, pars], axis=0, ignore_index=True)

/tmp/ipython-input-2378397366.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([api, pars], axis=0, ignore_index=True)

In [ ]:
df

,Region,Metro,Adress,House number,Number of Rooms,Square (m2),Living Square (m2),Kitchen Square (m2),Floor,Building Floors,...,Type,Section,Category,Walk Time to Metro (min),Ceiling Height (m),Renovation,Year Built,Infrastructure,Yard Improvement,Price (rub)
0,Москва,Улица Дмитриевского,салтыковская,62к4,2.0,53.8,22.3,19.0,6.0,12.0,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,12980000.0
1,Москва,Народное Ополчение,демьяна бедного,2к4,1.0,38.0,NaN,NaN,10.0,17.0,...,Продам,Жилая недвижимость,1-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,15350000.0
2,Москва,Беляево,профсоюзная,91,3.0,100.5,58.4,12.5,14.0,23.0,...,Продам,Жилая недвижимость,3-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,40500000.0
3,Москва,Кунцевская,сколковское,40к3,0.0,31.0,18.0,10.0,2.0,15.0,...,Продам,Жилая недвижимость,Студия,NaN,NaN,NaN,NaN,NaN,NaN,12999000.0
4,Москва,Водный стадион,кронштадтский,6к3,2.0,43.0,30.0,12.0,5.0,22.0,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,17400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92250,None,Смоленская,None,None,4.0,200.0,131.0,60.0,10.0,19.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,NaN,242658300.0
92251,None,Парк Культуры,None,None,4.0,170.0,110.0,20.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Магазины,"Парковка, Видеонаблюдение",242658300.0
92252,None,Парк Культуры,None,None,4.0,167.0,110.0,25.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Школы,Парковка,242658300.0
92253,None,Смоленская,None,None,4.0,203.0,162.0,NaN,10.0,17.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,"Парковка, Видеонаблюдение",242658300.0
92254,None,Новаторская,None,None,NaN,412.0,250.0,25.0,23.0,23.0,...,None,None,None,8 мин,3.2,NaN,NaN,Школы,Парковка,242658300.0

In [ ]:
df = df.merge(pars_address[['URL', 'Adress', 'House number', 'LAT', 'LNG']], on='URL', how='left', suffixes=('', '_new'))

for col in ['Adress', 'House number', 'LAT', 'LNG']:
    df[col] = df[f'{col}_new'].combine_first(df[col])
    df.drop(columns=[f'{col}_new'], inplace=True)

In [ ]:
df = df.replace(r'(?i)^nan$', np.nan, regex=True)

/tmp/ipython-input-2857574357.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace(r'(?i)^nan$', np.nan, regex=True)

In [ ]:
df.loc[82184:, 'Region'] = 'Москва'

In [ ]:
df.iloc[82183]

Region                                                                 Москва
Metro                                                               Локомотив
Adress                                                               амурская
House number                                                              121
Number of Rooms                                                           1.0
Square (m2)                                                              39.9
Living Square (m2)                                                       20.9
Kitchen Square (m2)                                                      11.2
Floor                                                                     9.0
Building Floors                                                          12.0
Building Material                                                  монолитный
Created Date                                        2025-11-05T22:36:02+03:00
URL                         https://www.avito.ru/moskva/kvartiry/1-k._kvar...
Title                                       1-к. квартира, 39, 9 м², 9/12 эт.
Land Square (m2)                                                          0.0
LAT                                                                 55.807417
LNG                                                                 37.755031
Agent                                                                     0.0
Source                                                               avito.ru
Type                                                                   Продам
Section                                                    Жилая недвижимость
Category                                                         1-к квартира
Walk Time to Metro (min)                                                  NaN
Ceiling Height (m)                                                        NaN
Renovation                                                                NaN
Year Built                                                                NaN
Infrastructure                                                            NaN
Yard Improvement                                                          NaN
Price (rub)                                                        17000000.0
Name: 82183, dtype: object

In [ ]:
df

,Region,Metro,Adress,House number,Number of Rooms,Square (m2),Living Square (m2),Kitchen Square (m2),Floor,Building Floors,...,Type,Section,Category,Walk Time to Metro (min),Ceiling Height (m),Renovation,Year Built,Infrastructure,Yard Improvement,Price (rub)
0,Москва,Улица Дмитриевского,салтыковская,62к4,2.0,53.8,22.3,19.0,6.0,12.0,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,12980000.0
1,Москва,Народное Ополчение,демьяна бедного,2к4,1.0,38.0,NaN,NaN,10.0,17.0,...,Продам,Жилая недвижимость,1-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,15350000.0
2,Москва,Беляево,профсоюзная,91,3.0,100.5,58.4,12.5,14.0,23.0,...,Продам,Жилая недвижимость,3-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,40500000.0
3,Москва,Кунцевская,сколковское,40к3,0.0,31.0,18.0,10.0,2.0,15.0,...,Продам,Жилая недвижимость,Студия,NaN,NaN,NaN,NaN,NaN,NaN,12999000.0
4,Москва,Водный стадион,кронштадтский,6к3,2.0,43.0,30.0,12.0,5.0,22.0,...,Продам,Жилая недвижимость,2-к квартира,NaN,NaN,NaN,NaN,NaN,NaN,17400000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92250,Москва,Смоленская,новый арбат,29,4.0,200.0,131.0,60.0,10.0,19.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,NaN,242658300.0
92251,Москва,Парк Культуры,NaN,NaN,4.0,170.0,110.0,20.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Магазины,"Парковка, Видеонаблюдение",242658300.0
92252,Москва,Парк Культуры,NaN,NaN,4.0,167.0,110.0,25.0,2.0,6.0,...,None,None,None,6 мин,NaN,NaN,2001.0,Школы,Парковка,242658300.0
92253,Москва,Смоленская,NaN,NaN,4.0,203.0,162.0,NaN,10.0,17.0,...,None,None,None,6 мин,NaN,NaN,NaN,NaN,"Парковка, Видеонаблюдение",242658300.0
92254,Москва,Новаторская,NaN,NaN,NaN,412.0,250.0,25.0,23.0,23.0,...,None,None,None,8 мин,3.2,NaN,NaN,Школы,Парковка,242658300.0

In [ ]:
df.to_excel('df.xlsx', index=False)